@{
    ViewData["Title"] = "Privacy Policy";
}

<div ng-controller="PrivacyCtrl" layout="column" class="h-100">
    <table id="dataTable" class="table table-striped">
        <thead>
            <tr>
                <th>Brand</th>
                <th>Title</th>
                <th>Description</th>
                <th>Category</th>
                <th>Price</th>
                <th>Rating</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script>
        (function () {
            var dtOptions = {
                dom: 'f<"content"t><"footer"lp>',
                processing: true,
            }
            var dataTable = new DataTable('#dataTable', dtOptions)

            $app.controller('PrivacyCtrl', ($scope, $http, $timeout, $compile) => {
                $scope.onRefresh = () => {
                    $scope.getProducts()
                }

                $scope.getProducts = () => {
                    dataTable.clear().draw()
                    dataTable.processing(true)
                    $http.get('https://dummyjson.com/products')
                        .then(res => {
                            const products = res.data.products
                            $scope.dataTableInit(products)
                        }).finally(() => {
                            dataTable.processing(false)
                        })
                }

                $scope.dataTableInit = (data) => {
                    $timeout(() => {
                        if (DataTable.isDataTable('#dataTable')) dataTable.destroy()
                        dataTable = new DataTable('#dataTable', {
                            ...dtOptions,
                            data: data,
                            columns: [
                                {
                                    data: 'brand',
                                    render: (data) => data ?? ``
                                },
                                {
                                    data: 'title'
                                },
                                {
                                    data: 'description',
                                    render: (data) => `<div data-mdb-tooltip-init title="${data}">${data}</div>`
                                },
                                {
                                    data: 'category'
                                },
                                {
                                    data: 'price'
                                },
                                {
                                    data: 'rating'
                                },
                                {
                                    data: '',
                                    render: () => `<button class="btn btn-primary" data-mdb-ripple-init ng-click="onRefresh()">Refresh</button>`
                                }
                            ],
                            drawCallback: () => {
                                $compile(angular.element('tbody').contents())($scope)
                                $('[data-mdb-tooltip-init]').tooltip()
                            }
                        })
                    })
                }

                $scope.init = () => {
                    $scope.getProducts()
                }

                $scope.init()
            });
        })();
    </script>
}